<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>FUN AND TASTY RECIPES </h1>
    <p> <a href="/add"> Add a recipe here</a></p>

    <div>Filter by recipe name: <input type="text" name="nameFilter" id=""></div>
    <div>Filter by ingredients: <input type="text" name="ingredientFilter" id=""></div>

    <input type="submit" value="Filter">


    <table>
    {{#each variable}}
    <tr>
        <th>{{this.dishName}}</td>
        <td>{{this.ingredients}}</td>
        <td>{{this.steps}}</td>
        <td>{{this.createdAt}}</td>
        <td>{{this.createdBy}}</td>
    </tr>
    {{/each}}
    </table>    

    
</body>
</html>